scikit-learn==1.8.0
stable-baselines3>=2.0.0
gymnasium>=1.0.0
pandas>=2.0.0
numpy>=1.24.0
matplotlib>=3.7.0
plotly>=5.14.0
ta>=0.10.0
scipy>=1.10.0
torch>=2.0.0
xgboost==2.1.1
lightgbm==4.5.0
vaderSentiment>=3.3.2
openai==2.31.0
yfinance>=0.2.54
